#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: Some("islands-dark"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 3,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 3,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: false,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: false,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 1200, height: 1200),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    keybinds: (
        global: {
            "q":          Quit,
            "?":          ShowHelp,
            ":":          CommandMode,
            "oI":         ShowCurrentSongInfo,
            "oo":         ShowOutputs,
            "op":         ShowDecoders,
            "od":         ShowDownloads,
            "oP":         Partition(),
            "z":          ToggleRepeat,
            "x":          ToggleRandom,
            "c":          ToggleConsume,
            "v":          ToggleSingle,
            "p":          TogglePause,
            "s":          Stop,
            ">":          NextTrack,
            "<":          PreviousTrack,
            "f":          SeekForward,
            "b":          SeekBack,
            "+":          VolumeUp,
            "-":          VolumeDown,
            "1":          SwitchToTab("Queue"),
            "2":          SwitchToTab("Directories"),
            "3":          SwitchToTab("Artists"),
            "4":          SwitchToTab("Albums"),
            "5":          SwitchToTab("Playlists"),
            "6":          SwitchToTab("Search"),
        },
        navigation: {
            "h":          Close,
            "j":          Down,
            "k":          Up,
            "l":          Right,
            "g":          Top,
            "G":          Bottom,
            "d":          DownHalf,
            "u":          UpHalf,
            "<C-d>":      DownHalf,
            "<C-u>":      UpHalf,
            "<Enter>":    Confirm,
            "<Space>":    Select,
            "a":          Add,
            "D":          Delete,
            "/":          EnterSearch,
            "n":          NextResult,
            "N":          PreviousResult,
            "<Esc>":      Close,
        },
        queue: {
            "<C-s>":      Save,
            "<Delete>":   Delete,
            "<C-l>":      JumpToCurrent,
        },
    ),
)
